<div id="header-block">
	<div class="navbar" id="top-navbar">
		<a href="/">Home</a>
	</div>
	<div id="user-session-action">
		<form action="/auth/github" method="get">
	    	<input type="submit" value="Login with GitHub">
	    </form>
	</div>
</div>