<div id="header-block">
	<div class="navbar" id="top-navbar">
		<a href="/">Home</a>
	</div>
	<div id="user-session-action">
		<% if(!user) { %>
			<form action="/auth/github" method="get">
		    	<input type="submit" value="Login with GitHub">
		    </form>
		<% } %>
	    <% if(user) { %>
		    <form action="/logout" method="get">
		    	<div id="user-welcome">Welcome <%= user.username %></div>
		    	<input id="logout-button" type="submit" value="Logout">
		    </form>
		<% } %>
	</div>
</div>