body {
	background-color: steelblue;
}

#create-poll-button {
	text-align: center;
}

#page-title {
	text-align: center;
}

#poll-list, #view-poll {
	display: block;
	text-align: center;
}

#poll-list input {
	height: 50px;
	width: 400px;
	border-radius: 10px;
}

#poll-list #delete-poll-btn {
	height: 50px;
	width: 75px;
}

#view-poll input {
	height: 75px;
	width: 200px;
	border-radius: 10px;
}

#tweet-poll {
	display: block;
	text-align: center;
}

div.form {
	display: block;
	text-align: center;
	margin-top: 100px;
}

form {
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#poll-question {
	width: 400px;
}

#poll-results {
	width: 400px;
	display: block;
	margin: 0 auto;
}

#header-block {
	display: inline-block;
	width: 100%;
}

#top-navbar {
	float: left;
	padding-left: 50px;
}

#user-session-action {
	float: right;
	padding-right: 50px;
}