<html>
<head>
  <title>Create a New Poll</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <script type="text/javascript">
    var answerNum = 2;

    function addNewAnswer() {
    	console.log('adding new field...');
    	var addPollForm = document.getElementById("poll-answers");

    	var additionalInput = document.createElement("input");
    	additionalInput.type = "text";
    	additionalInput.name = "answer_" + answerNum;

    	var lineBreak = document.createElement("br");

    	var inputLabel = document.createElement("label");
    	inputLabel.innerHTML = "Answer " + answerNum + ": ";

    	addPollForm.appendChild(inputLabel);
    	addPollForm.appendChild(additionalInput);
    	addPollForm.appendChild(lineBreak);

    	var numAnswers = document.getElementById("num-answers");
    	numAnswers.value = answerNum;

    	answerNum++;
    }
  </script>
  <% include ../partials/header %>
</head>
<body>
  <div id="page-container">
    <h1 id="page-title">Create a New Poll</h1>
    <div class="form">
  	  <form action="/createPoll" method="post">
  	    What is your Question? <input id="poll-question" type="text" name="question"></input>
  	    <br>
  	    <br>
  	    <div id="poll-answers">
  		  <label>Answer 1: </label><input type="text" name="answer_1"></input>
  		  <br>
  	    </div>
  	    <input type="button" onclick="addNewAnswer()" value="add"></input>
  	    <br>
  	    <input id="num-answers" type="hidden" name="numAnswers" value="1"></input>
  	    <input type="submit">
  	  </form>
    </div>
  </div>
</body>
</html>