<html>
<head>
  <title>Voting App</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1 id="page-title">Voting App</h1>
  <br>
  <br>
  <div id="create-poll-button">
    <button onclick="window.location.href='/createPoll'">Create a New Poll</a>
  </div>
  <br>
  <br>
  <div id="poll-list">
  	<form action="/viewPoll" method="get">
    <% for (var i=0; i < pollList.length; i++) { %>
    	<button onClick="console.log('hello world')">
    	  <%= pollList[i].question %>
    	</button>
    	<br>
    <% } %>
    </form>
  </div>
</body>
</html>