<html>
<head>
  <title>User Login</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <% include ../partials/header %>
</head>
<body>
  <h1 id="page-title">Voting App - Login</h1>
  <br>
  <br>
  <div class="form">
    <form action="/login" method="post">
	    Username: <input type="text"></input>
	    <br>
	    Password: <input type="text"></input>
	    <br>
	    <br>
	    <input type="submit">
	</form>
  </div>
</body>
</html>