<html>
<head>
  <title>View Poll</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1 id="page-title">View Poll</h1>
  <br>
  <br>
  <br>
  <div id="view-poll">
    <h2><%= pollQuestion %></h2>
    <% for (var i=0; i < pollChoices.length; i++) { %>
      <form action="/answerPoll" method="post">
        <input type="submit" value="<%= pollChoices[i] %>">
      </form>
      <br>
    <% } %>
  </div>
</body>
</html>