<html>
<head>
  <title>Poll Results</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1 id="page-title">Poll Results</h1>
  <br>
  <br>
  <br>
  <div id="poll-results">
 
  </div>
</body>
</html>