<html>
<head>
  <title>View Poll</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <h1 id="page-title">View Poll</h1>
  <br>
  <br>
  <br>
  <div id="view-poll">
  </div>
</body>
</html>